<h1>Descripción de Afrodita</h1>
<p>Afrodita es la diosa del amor y la belleza, y se identifica en Roma con la antigua divinidad itálica Venus. Según una tradición es hija de Urano y según otra de Zeus y Dione.

En el caso de la primera historia, el nacimiento ocurre en el momento que Cronos (dios del tiempo) corta los genitales de su padre Urano y los lanza al mar, de donde surge Afrodita. De ahí que se le conozca como “la diosa nacida de las olas” o “nacida del semen de dios”.

Una vez que salió del mar, Afrodita fue llevada por los vientos Céfiros, primero a Citera y luego a Chipre, donde las Horas la vistieron y la guiaron a la morada de los Inmortales.

Posteriormente, Platón imaginó que había una Afrodita Urania, la diosa del amor puro e hija de Urano; y Afrodita Pandemo, hija de Dione y diosa del amor vulgar. Sin embargo esta es una concepción filósofica tardía.</p>
